@font-face {
  font-family: "cera_proregular";
  src: url("../fonts/cera_pro_regular-webfont.eot");
  src: url("../fonts/cera_pro_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_regular-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_regular-webfont.woff") format("woff"),
    url("../fonts/cera_pro_regular-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_problack";
  src: url("../fonts/cera_pro_black-webfont.eot");
  src: url("../fonts/cera_pro_black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_black-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_black-webfont.woff") format("woff"),
    url("../fonts/cera_pro_black-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_black-webfont.svg#cera_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_promedium";
  src: url("../fonts/cera_pro_medium-webfont.eot");
  src: url("../fonts/cera_pro_medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_medium-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_medium-webfont.woff") format("woff"),
    url("../fonts/cera_pro_medium-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_probold";
  src: url("../fonts/cera_pro_bold-webfont.eot");
  src: url("../fonts/cera_pro_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_bold-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_bold-webfont.woff") format("woff"),
    url("../fonts/cera_pro_bold-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_prolight";
  src: url("../fonts/cera_pro_light-webfont.eot");
  src: url("../fonts/cera_pro_light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_light-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_light-webfont.woff") format("woff"),
    url("../fonts/cera_pro_light-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_light-webfont.svg#cera_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cera_proregular";
}

html {
  font-family: "cera_proregular";
}

a {
  text-decoration: none;
}

.central-wrapper {
  max-width: 1200px;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: space-between;
}

.banner-section {
  margin-bottom: 45px;
}

.header-wrapper {
  align-items: center;
  padding-top: 30px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgb(70, 163, 88, 0.5);
  padding-bottom: 18px;
  font-family: "cera_proregular";
}

.header-wrapper ul {
  column-gap: 50px;
}

.header-wrapper ul li {
  position: relative;
}

.header-wrapper ul li a {
  color: #3d3d3d;
  line-height: 20px;
  position: relative;
}

.header-wrapper ul li a:hover {
  font-family: "cera_probold";
}

.parent-nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: -27px;
  height: 3px;
  background-color: #46a358;
  transition: width 0.3s ease-in-out;
}

.parent-nav-item a:hover::before {
  width: 100%;
}

.header-wrapper ul li .dropdown a {
  display: inline-block;
  min-width: 188px;
  padding: 8px 14px;
  background-color: #edf6ee;
  line-height: 16px;
  color: #3d3d3d;
  font-family: "cera_proregular";
  transition: 0.3s;
  position: relative;
}

.header-wrapper ul li .dropdown {
  visibility: hidden;
  position: absolute;
  left: -50px;
  padding-top: 40px;
}

.header-wrapper ul li .dropdown a:hover {
  color: white;
  background-color: #1a712a;
}

.header-wrapper .dropdown-trigger:hover .dropdown {
  visibility: visible;
}

.header-wrapper ul .dropdown li:last-of-type a::after {
  background-image: url("../images/dropdown_black_arrow.svg");
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  right: 17px;
  top: 12px;
}

.header-wrapper ul .dropdown li:last-of-type a:hover::before {
  width: 0px;
}

.header-wrapper ul .dropdown li:last-of-type a:hover::after {
  background-image: url("../images/dropdown_white_arrow.svg");
  transform: rotate(180deg);
}

.login-button {
  padding: 8px 18px;
  background-color: #46a358;
  color: white;
  border-radius: 6px;
  column-gap: 5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  font-family: "cera_promedium";
}

.banner-content-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f580;
}

.inner-content-wrapper {
  padding-top: 68px;
  margin-left: 40px;
}

.wlc-text {
  margin-bottom: 7px;
  font-size: 14px;
  font-family: "cera_promedium";
  color: #3d3d3d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.site-motto-text {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  color: #3d3d3d;
  font-family: "cera_problack";
  text-transform: uppercase;
}

.site-motto-text span {
  color: #46a358;
}

.under-motto-text {
  margin-bottom: 44px;
  line-height: 24px;
  font-size: 14px;
  color: #727272;
}

.shop-now-button {
  padding: 10px 27px;
  background-color: #46a358;
  color: white;
  font-family: "cera_probold";
  line-height: 20px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: uppercase;
}

/* ITEMS (PLANTS) SECTION  */

.plant-cards-section {
  margin-bottom: 50px;
}

.sidebar-cetegories {
  min-width: 310px;
  padding-bottom: 380px;
  background-color: #fbfbfb;
  padding-top: 14px;
  padding-left: 18px;
  margin-right: 50px;
}

.category-text {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  font-family: "cera_probold";
  padding-left: 18px;
  margin-bottom: 8px;
}

.sidebar-cetegories ul li:hover {
  cursor: pointer;
  color: #46a358;
  font-weight: 700;
  font-family: "cera_probold";
}

.sidebar-cetegories ul {
  font-size: 15px;
  line-height: 40px;
  color: #3d3d3d;
  padding-left: 30px;
}

.plant-cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 840px;
  justify-content: space-between;
  gap: 70px 33px;
}

.discount {
  position: relative;
}

.discount::before {
  position: absolute;
  display: inline-block;
  content: "13% OFF";
  padding: 7px 9px;
  bottom: 310px;
  color: white;
  background-color: #46a358;
}

.discount::after {
  content: "$229.00";
  text-decoration: line-through;
  color: #a5a5a5;
  padding-left: 15px;
}

.plant-cards-container article {
  border-top: 1px solid white;
}

.plant-cards-container article:hover {
  border-top: 1px solid #46a358;
}

.plant-cards-container article {
  position: relative;
}

.white_background_icons .icon_1 {
  position: absolute;
  bottom: 13px;
  left: 10px;
}

.white_background_icons .icon_2 {
  position: absolute;
  bottom: 12px;
  left: 54px;
}

.white_background_icons .icon_3 {
  position: absolute;
  bottom: 12px;
  left: 98px;
}

.color-change path {
  transition: fill 0.3s ease-in 0.1s;
}

.test:hover .white_background_icons {
  display: inline-block;
}

.test:hover .color-change path {
  fill: #46a358;
}

.plant-cards-container article:hover .white_background_icons {
  display: inline-block;
}

.white_background_icons {
  position: absolute;
  display: none;
  top: 260px;
  left: 25%;
}

.white_background_icons img {
  margin-right: 5px;
}

.plant-cards-wrapper {
  color: #3d3d3d;
  font-size: 15px;
  line-height: 16px;
}

.plant-cards-navbar {
  margin-bottom: 30px;
  line-height: 16px;
}

.plant-cards-navbar ul {
  column-gap: 37px;
}

.plant-cards-navbar ul li::after {
  content: "";
  display: inline-block;
  border-bottom: 3px solid rgb(255, 255, 255);
  padding-bottom: 7px;
  width: 1%;
  transition: width 0.3s ease-in-out;
}

.plant-cards-navbar ul li:hover::after {
  border-bottom: 3px solid #46a358;
  width: 100%;
}

.plant-cards-navbar ul li:hover {
  cursor: pointer;
  color: #46a358;
  font-weight: 700;
  font-family: "cera_probold";
}

.short-by img {
  max-width: 16px;
  max-height: 16px;
}

.short-by {
  column-gap: 7px;
}

.plant-cards-container .item-img {
  margin-bottom: 12px;
  min-height: 300px;
  min-width: 250px;
}

.plant-cards-container .item-name {
  margin-bottom: 6px;
  line-height: 16px;
}

.plant-cards-container .item-price {
  font-family: "cera_probold";
  color: #46a358;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.item-cards-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 95px;
}

.item-cards-pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  font-family: "cera_prolight";
}

.item-cards-pagination li a {
  color: black;
}

.item-cards-pagination li:hover {
  font-weight: 700;
  background-color: #46a358;
  color: white;
  border: none;
}

.item-cards-pagination li:hover a {
  color: white;
}

.item-cards-pagination li:hover path {
  stroke: white;
}

.find-more-wrapper {
  justify-content: space-between;
  display: flex;
  column-gap: 30px;
  margin-bottom: 140px;
  height: 250px;
}

.find-more-wrapper article {
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.find-more-img {
  position: absolute;
  bottom: 0px;
}

.find-more-container {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 260px;
}

.find-more-container h3 {
  margin-bottom: 9px;
  padding-top: 37px;
  font-weight: 900;
  line-height: 24px;
  font-size: 18px;
  font-family: "cera_problack";
  color: #3d3d3d;
  text-transform: uppercase;
}

.find-more-container p {
  margin-bottom: 25px;
  line-height: 24px;
  font-size: 14px;
  color: #727272;
}

.find-more-button {
  padding: 10px 28px;
  background-color: #46a358;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-family: "cera_promedium";
}

.blog-posts-wrapper {
  column-gap: 44px;
  margin-bottom: 100px;
}

.our-blog-posts {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  color: #3d3d3d;
  text-align: center;
  font-family: "cera_probold";
  margin-bottom: 15px;
}

.our-blog-posts + p {
  color: #727272;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 35px;
}

.post_content {
  background-color: #fbfbfb;
  padding: 10px 12px;
}

.time_to_read {
  font-family: "cera_promedium";
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #46a358;
}

.time_to_read span::after {
  content: "";
  display: inline-block;
  border-left: 1px solid #46a358;
  height: 9px;
}

.post_header {
  font-family: "cera_probold";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #3d3d3d;
  margin-bottom: 4px;
}

.post_description {
  margin-bottom: 9px;
  line-height: 22px;
  color: #727272;
  font-size: 14px;
}

.post_link {
  font-family: "cera_promedium";
  color: #3d3d3d;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.post_link img {
  position: absolute;
  right: -15px;
  top: 5px;
}

.post_link::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/arrow_right_black.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: -17px;
}

.post_link:hover::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow_right_green.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: -17px;
}

.post_link:hover {
  color: #46a358;
}

.icons-bar {
  visibility: hidden;
}

.plant-cards-container article:hover .icons-bar {
  visibility: visible;
}

/* TOP FOOOTER */

.top-footer {
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
  padding: 25px 25px;
  column-gap: 62px;
}

.top-footer .footer-item-img {
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}

.top-footer .footer-item-header {
  margin-bottom: 9px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #3d3d3d;
  font-family: "cera_probold";
}

.top-footer .footer-item-desription {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #727272;
  font-family: "cera_proregular";
}

/* FOOTER FORM */

.footer-plant-card{
  position: relative;
}

.footer-plant-card::after{
  top: 100px;
  left: 120px;
  position: absolute;
  display: inline-block;
  content: '';
  width: 187px;
  height: 1px;
  background-color: #46A3581A;
  transform: rotate(90deg)
}

.top-footer article:last-of-type::after{
  height: 0px;
}

.email-form-container {
  flex-direction: column;
  display: flex;
  align-self: flex-end;
}

.email-form-container h3 {
  color: #3d3d3d;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-family: "cera_probold";
}

.email-form-container form {
  margin-bottom: 18px;
}

.email-form-container p {
  color: #727272;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  font-family: "cera_proregular";
}

.footer-form-email {
  display: flex;
  font-size: 0px;
  transition: transform 0.3s ease-in-out;
}

.footer-form-email:focus-within {
  transform: scale(1.01);
}

.input-email {
  padding: 12px;
  padding-right: 85px;
  width: 270px;
  border: none;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.input-email:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(70, 163, 88, 0.5);
}

.input-email::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #acacac;
}

.button-submit-email {
  padding: 12px 25px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #46a358;
  color: white;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  font-family: "cera_probold";
}

/* MIDDLE FOOOTER */

.middle-footer {
  padding: 25px;

  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(237, 246, 239, 1) 0%,
    rgba(82, 195, 104, 1) 100%
  );
}

.middle-footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-footer li {
  position: relative;
  line-height: 22px;
  font-size: 14px;
  color: #3d3d3d;
}

.footer-location::before {
  position: absolute;
  left: -25px;
  top: 9px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/geolocation_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-contactus::before {
  position: absolute;
  left: -30px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/email_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-phone-number::before {
  position: absolute;
  left: -30px;
  top: -2px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/phone_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* BOTTOM FOOOTER */

.bottom-footer {
  background-color: #fbfbfb;
  padding: 33px 25px;
  margin-bottom: 10px;
}

.bottom-footer ul li:first-of-type {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #3d3d3d;
  font-family: "cera_probold";
  margin-bottom: 8px;
}

.footer-category li a {
  color: #3d3d3d;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  font-family: "cera_proregular";
}

.social-media-icons {
  margin-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-media-icons li:first-of-type {
  width: 100%;
}

.social-media-icons li a {
  width: 30px;
  height: 30px;
  border: 1px solid #46a35833;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  padding-right: 115px;
}

.payment-systems li:first-of-type {
  margin-bottom: 13px;
}

.right_reserved{
  text-align: center;
  margin-bottom: 30px;
  color: #3D3D3D;
  font-size: 14px;
  line-height: 30px;
}


.spinner {
  width: 70px;
  height: 70px;
  border: 5px solid #ccc;
  border-top: 5px solid #0cb831;
  border-radius: 50%;
  animation: spin 1s linear 0s 5 forwards;
}

.fade {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fade 5s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
      display: none;

  }
}